.add-container {
  margin: 50px auto;
  width: 50%;
}

form {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: #88BDBC;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 15px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
}

.form-group label {
  font-size: 16px;
  color: white;
}

.form-control {
  margin: 0 0 0 0;
  display: block;
  width: 100%;
  padding: .275rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #112D32;

  background-color: whitesmoke;
  background-clip: padding-box;
  border: 2px solid #254e58;
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #254e58;
  border: 2px solid #254e58;

  outline-width: 0;
}
.search-results {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #254e58;
}
.search-results.active {
  height: 100px;
  overflow: auto;
}
.search-result-items {
  background: white;
  padding: 2px 10px;
  display: block;
  text-decoration: none;
  color: #112D32;
}
.search-result-items:hover {
  cursor: pointer;
  background: lightseagreen;
}
.search-result-items:last-child {
  background: white;
}
.search-result-items:last-child:hover {
  cursor: pointer;
  background: lightseagreen;
}
.btn {
  display: flex;
  gap: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 7px 22px;
  border: 1px solid #112D32;
  border-radius: 0.375rem;
}

.btn:hover {
  border: 1px solid #36395A;
  background-color: #88BDBC;
  color: white;
}